body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(197, 197, 192, 0.459);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Добавлено justify-content: center для центрирования по горизонтали */
}

.images{
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

h1{
  margin-left: 180px;
  color: rgb(46 138 204);
}



header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f8f8f8; /* Светло-серый фон для заголовка */
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.search-container input {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-right: 5px; /* Отступ между полем ввода и кнопкой */
  background-color: rgba(119, 191, 243, 0.37);
}

.search-container button {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #007BFF; /* Синий цвет кнопки */
  color: #fff; /* Белый цвет текста */
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3; /* Более темный синий цвет при наведении */
}

.nastr{
  margin-right: 85px;
}

.set{
  height: 30px;
  float: right;
  margin-right: 10px;
}

.block1{
    background-color: #007bffa4;
    width: 50%;
    margin: auto;
    border-radius: 30px;
    border: 3px solid black;
}

h2{
  text-align: center;
  color: rgb(46 138 204);
  margin-top: 100px;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_profil {
  height: 120px;
  margin-right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 10%;
  align-items: center;
}

.info p {
  margin-bottom: 5px;
  text-align: center;
}

.name{
  background-color: #007BFF;
  border-radius: 30px;
  margin-top: 10px;
  border: 2px   solid black;
  width: 100%;
}

.zhurnal {
  height: 40px;
  margin-top: 10px;
}

.kursi{
  background-color: #007BFF;
  border-radius: 10px;
  border: 2px   solid black;
  width: 100%;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.kurs{
  background-color: #007BFF;
  border-radius: 10px;
  border: 2px   solid black;
  width: 100px;
  text-align: center;
  border-right: none;
}

.program{
  background-color: #5780ac;
  border-radius: 10px;
  border: 2px   solid black;
  width: 250px;
  text-align: center;
}

.opis{
  background-color: #99c5f4;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  border: 2px   solid black;
  margin-top: 100px;
}

.opis2{
  margin: auto;
  background-color: #0056b3;
  text-align: left;
  border-radius: 10px;
  border: 2px   solid black;
  font-size: 12px;
  width: 95%;
  margin-bottom: 10px;
}

h3{
  font-weight: 100;
  width: 90%;
 
}

.container1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: 33.33%;
  padding: 0 15px;
}

h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #505861;
}

footer{
  background: linear-gradient(green, white);

  margin-top: 300px;
}
